BasedOnStyle: Mozilla
AccessModifierOffset: '-2'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBraces: Allman
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '4'
Cpp11BracedListStyle: 'true'
FixNamespaceComments: 'true'
IndentPPDirectives: BeforeHash
IndentWidth: '4'
PointerAlignment: Right
SortIncludes: 'true'
SpaceAfterCStyleCast: 'false'
SpacesBeforeTrailingComments: '2'
UseTab: Never
